In [1]:
import tweepy
from time import sleep
import pandas as pd

In [2]:
#setting up tweepy authorization
consumer_key = "XXXX"
consumer_secret = "XXXX"
access_token = "XXXX"
access_token_secret = "XXXX"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [3]:
#Scraping a specific Twitter user’s Tweets
username = 'hrdbacot'
count = 150
try:     
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.user_timeline,id=username).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list)
except BaseException as e:
      print('failed on_status,',str(e))
      time.sleep(3)

In [4]:
tweets_df

,0,1,2
0,2020-10-17 17:03:36,1317511592817291267,"RT @aliyaliyong: Pengalaman temen si ini, cuma..."
1,2020-10-17 17:03:17,1317511514664783872,RT @Eno_Bening: Bacain curhat orang2 socmed di...
2,2020-10-17 16:34:43,1317504324885385216,RT @arvareri: Job title ...
3,2020-10-17 16:34:33,1317504281876987904,RT @cdestianira: Ini sama banget! Tapi sisi po...
4,2020-10-17 16:27:27,1317502495719976961,"Telat bales komen di SP1 dong, padahal lagi ng..."
...,...,...,...
145,2020-10-17 02:50:40,1317296943870083074,"RT @arienpriya: bocoran kerja di bank aja min,..."
146,2020-10-17 02:50:05,1317296799804051456,Mincot ketika nyampe KPI/OKRs be lyke~ https:/...
147,2020-10-17 02:49:07,1317296553200025602,Wah ternyata~ https://t.co/SZCAth4l4C
148,2020-10-17 02:47:36,1317296174412439552,Yeee sama ajeee https://t.co/0RF1Oxemy2
149,2020-10-17 02:47:24,1317296124688990209,Besok-besok kalo dapet lagi ajak mincot ke man...

In [6]:
text_query = 'Penyakit'
count = 350
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_penyakit = pd.DataFrame(tweets_list)
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [7]:
tweets_penyakit

,0,1,2
0,2020-10-18 13:04:42,1317813858954735617,"Ayam sayur juga rupanya, kena penyakit post po..."
1,2020-10-18 13:04:23,1317813777862029312,"RT @afrina_amira: Hi Guys , minta tolong u all..."
2,2020-10-18 13:04:17,1317813752503226372,RT @cewehijrah: 3. PENYAKIT\nMisalnya ada peny...
3,2020-10-18 13:04:10,1317813726335037441,Contohnya menghina dik willy yg megang rokokny...
4,2020-10-18 13:04:00,1317813682764615682,Buah mengkudu dapat digunakan untuk mengatasi ...
...,...,...,...
345,2020-10-18 12:02:16,1317798148593442816,RT @HausofHilton: Sekali Biasanya.\n\nTetapi v...
346,2020-10-18 12:01:57,1317798066800357377,"RT @NiniNell: Yang bagi sedekah rakyat, yang b..."
347,2020-10-18 12:01:39,1317797991894274048,@hobak_alt dokter pun bingung deh kayanya ini ...
348,2020-10-18 12:01:25,1317797934616858624,RT @aliffshanusi: 𝗦𝗲𝗻𝗮𝗿𝗮𝗶 𝟱𝟱 𝗣𝗲𝗻𝘆𝗮𝗸𝗶𝘁 𝗞𝗿𝗶𝘁𝗶𝗸𝗮𝗹...
349,2020-10-18 12:01:24,1317797931173343233,"RT @afrina_amira: Hi Guys , minta tolong u all..."

In [8]:
tweets_penyakit.columns=["datetime","id","tweet"]

In [9]:
tweets_penyakit.head()

,datetime,id,tweet
0,2020-10-18 13:04:42,1317813858954735617,"Ayam sayur juga rupanya, kena penyakit post po..."
1,2020-10-18 13:04:23,1317813777862029312,"RT @afrina_amira: Hi Guys , minta tolong u all..."
2,2020-10-18 13:04:17,1317813752503226372,RT @cewehijrah: 3. PENYAKIT\nMisalnya ada peny...
3,2020-10-18 13:04:10,1317813726335037441,Contohnya menghina dik willy yg megang rokokny...
4,2020-10-18 13:04:00,1317813682764615682,Buah mengkudu dapat digunakan untuk mengatasi ...

In [10]:
tweets_penyakit.to_csv('penyakittext.csv',index=False)

In [ ]:
import GetOldTweets3 as got
import pandas as pd

In [ ]:
#Example of a query using several search parameters
text_query = 'Indonesia'
since_date = '2020-10-01'
until_date = '2020-10-15'
count = 200

In [ ]:
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)

In [ ]:
print(tweetCriteria)

In [ ]:
try:
 # Creation of query method using parameters
 tweet_indonesia = tweepy.Cursor(api.search,q=text_query,since=since_date,until=until_date).items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweet_indonesia]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_indonesia = pd.DataFrame(tweets_list)
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [ ]:
tweets_indonesia